/*解决popup和toast背景颜色冲突文字*/
.van-popup.van-toast{
    background: var(--van-toast-background) !important;
    box-sizing: content-box !important;
    transition:all var(--van-duration-fast) !important;
    width: 50% !important;
    font-size: 22px !important;
    /*line-height: 80px !important;*/
    /*max-width: var(--van-toast-max-width) !important;*/
}

.van-popup.van-toast .van-toast__icon{
    font-size: var(--van-toast-icon-size) !important;
}


/*.van-toast--text {*/
/*    background: rgba(0, 0, 0, 0.7) !important;*/
/*}*/
