<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.mall.service.dao.mapper.BannerMapper">
    <resultMap id="BannerIndexVO" type="cn.tedu.mall.service.pojo.vo.BannerIndexVO">
        <id column="id" property="id"/>
        <result column="img_url" property="imgUrl" typeHandler="cn.tedu.mall.front.interceptor.PrefixTypeHandler"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
    </resultMap>

    <select id="selectListForIndex" resultMap="BannerIndexVO">
        SELECT id, img_url, name, sort
        FROM e_mall.sys_index_banner
        ORDER BY sort
    </select>
</mapper>