<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.mall.service.dao.mapper.CategoryMapper">
    <select id="selectCartByUserId" resultType="cn.tedu.mall.service.pojo.po.CartPO">
        SELECT id,
               create_time,
               modified_time,
               tb_user_id,
               tb_product_id,
               tb_product_name,
               tb_product_checked,
               tb_product_spec_id,
               spec_name,
               img_url,
               price,
               amount,
               product_amount_total
        FROM e_mall.tb_shopping_cart
        WHERE tb_user_id = #{userId}
        ORDER BY create_time DESC
    </select>
</mapper>