<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.mall.service.dao.mapper.LiveMapper">
    <resultMap id="LiveVOMap" type="cn.tedu.mall.service.pojo.vo.LiveVO">
        <id column="id" property="id"/>
        <result column="img_url" property="imgUrl"/>
    </resultMap>

    <select id="selectListForIndex" resultMap="LiveVOMap">
        SELECT id, img_url
        FROM e_mall.sys_live_card
        ORDER BY sort
    </select>
</mapper>