<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.mall.service.dao.mapper.OrderMapper">
    <sql id="Base_Column_List">
        id,
               create_time,
               modified_time,
               order_no,
               status,
               product_map,
               product_amount_total,
               order_amount_total,
               freight,
               integration,
               integration_amount,
               tb_user_id,
               tb_address_id,
               consignee,
               consignee_phone,
               consignee_address,
               pay_channel,
               out_trade_no,
               pay_time,
               delivery_time,
               receive_delivery_time,
               comment_time,
               cancel_time,
               tb_user_notes
    </sql>

    <select id="selectOrderByUserId" resultType="cn.tedu.mall.service.pojo.po.OrderPO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM e_mall.tb_order
        WHERE tb_user_id = #{userId}
        ORDER BY create_time DESC;
    </select>

    <select id="selectOrdersByStatus" resultType="cn.tedu.mall.service.pojo.po.OrderPO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM e_mall.tb_order
        WHERE tb_user_id = #{userId}
        AND status = #{status}
        ORDER BY create_time DESC;
    </select>

    <update id="updateByOrderPO" parameterType="cn.tedu.mall.service.pojo.po.OrderPO">
        UPDATE e_mall.tb_order
        <set>
            <if test="modifiedTime!=null">modified_time= #{modifiedTime},</if>
            <if test="orderNo!=null">order_no = #{orderNo},</if>
            <if test="status!=null">status = #{status},</if>
            <if test="productMap!=null">product_map = #{productMap},</if>
            <if test="productAmountTotal!=null">product_amount_total = #{productAmountTotal},</if>
            <if test="orderAmountTotal!=null">order_amount_total = #{orderAmountTotal},</if>
            <if test="freight!=null">freight = #{freight},</if>
            <if test="integration!=null">integration = #{integration},</if>
            <if test="integrationAmount!=null">integration_amount = #{integrationAmount},</if>
            <if test="tbUserId!=null">tb_user_id = #{tbUserId},</if>
            <if test="tbAddressId!=null">tb_address_id = #{tbAddressId},</if>
            <if test="consignee!=null">consignee = #{consignee},</if>
            <if test="consigneePhone!=null">consignee_phone = #{consigneePhone},</if>
            <if test="consigneeAddress!=null">consignee_address = #{consigneeAddress},</if>
            <if test="payChannel!=null">pay_channel = #{payChannel},</if>
            <if test="outTradeNo!=null">out_trade_no = #{outTradeNo},</if>
            <if test="payTime!=null">pay_time = #{payTime},</if>
            <if test="deliveryTime!=null">delivery_time = #{deliveryTime},</if>
            <if test="receiveDeliveryTime!=null">receive_delivery_time = #{receiveDeliveryTime},</if>
            <if test="commentTime!=null">comment_time = #{commentTime},</if>
            <if test="cancelTime!=null">cancel_time = #{cancelTime},</if>
            <if test="tbUserNotes!=null">tb_user_notes = #{tbUserNotes}</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>