<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.mall.service.dao.mapper.ProductMapper">
    <select id="selectProductById" resultType="cn.tedu.mall.service.pojo.vo.ProductVO">
        SELECT id,
               product_name,
               attribute_list,
               tb_category_id,
               tb_brand_id,
               sales,
               status,
               info
        FROM e_mall.tb_product
        WHERE id = #{id}
    </select>
</mapper>