<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.mall.service.dao.mapper.UserMapper">
    <select id="selectByUsername" resultType="cn.tedu.mall.service.pojo.po.UserPO">
        SELECT id,
               create_time,
               modified_time,
               user_type,
               profile_img,
               nickname,
               district,
               city,
               province,
               address_detail,
               username,
               password,
               contact_phone,
               user_point,
               user_balance,
               coupon_count
        FROM e_mall.tb_user
        WHERE username = #{username}
    </select>
</mapper>